function Main.main 6
push constant 100
pop local 3
push constant 50
pop local 4
push constant 15
pop local 5
push constant 0
pop local 2
push local 3
push local 4
push local 5
call BouncyBall.new 3
pop local 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 88
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 2
label IF_FALSE0
push local 0
call BouncyBall.move 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push local 0
call BouncyBall.dispose 1
pop temp 0
push constant 0
return
